@import "./node_modules/rfs/scss";
.header {
  @include font-size(1rem);
  display: flex;
  justify-content: space-between;
  .teletext {
    background: blue;
    color: yellow;
    text-align: center;
    @include padding-left(1rem);
    @include padding-right(1rem);
    @media screen and (min-width: 768px) {
      @include padding-left(4rem);
      @include padding-right(4rem);
    }
  }
  .time {
    color: yellow;
  }
  div {
    margin: 0 12px;
  }
  > div {
    margin-left: 0;
  }
  > div:last-of-type {
    margin-right: 0;
  }
}
