

main {
  max-width: 1000px;
  margin: auto;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ol {
  margin-left: 1.5rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
 background: black;
 color: white;
}

a {
  color: inherit;
  text-decoration: none;
}


@font-face {
  font-family: "Modeseven";
  src: url(../fonts/Modeseven-L3n5.ttf);
  font-weight: normal;
  font-style: normal;
}

button {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 12px;
  border-radius: 12px;
}