.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  max-width: 1000px;
}
.logo {
  max-width: 250px;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}
.button {
  margin: 0;
}

