@import "./node_modules/rfs/scss";
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  & > div {
    padding: 1rem;
  }
}

.redBorder {
  border-top: 3px solid red;
  padding-top: 1rem;
  @include font-size(1.5rem);
}
